@media (min-width: 768px) {
    .email-input {
        width: 30%;
    }
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}




.icon {
    font-family: "Monserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.main {
    background-color: #C0E218;
}


.title {
    font-weight: 600;
    font-size: 4rem;
    color: #111D5E;
}

.showcase, #footer {
    background-color: #C70039;
}

.feature-content {
    font-weight: 600;
    color: #111D5E;
}

.card-title {
    font-weight: 600;
}

.card-img-top {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.pricing {
    background-color: #111D5E;
}

/* JS CSS */

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: crimson;
  }
  
  .card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
  }
  